@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
}

/* banner sction */
.banner{
    background-image: url(assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-heder{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
text-align: center;
}
.banner-details{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}
#banner-button{
    border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 15px 20px;
}
button{
    cursor: pointer;
}
/* Why Web Development?? */
.web-development{
    width: 1140px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 50px auto;
    padding: 50px 60px 50px 60px;
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.web-heder{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}
.web-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.web-top{
    width: 850px;
height: 240px;
margin: 32px 0;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px;
}
.top-left{
    width: 477px;
}
.web-mid{
    width: 850px;
height: 240px;
margin: 32px 0;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 30px;
}
.mid-right{
    width: 477px;
}
.web-bottom{
    width: 850px;
height: 240px;
margin: 32px 0;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 30px;
}

/* My Inspiration */
.Inspiration{
    width: 1140px;
height: 775px;
margin: 50px auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.inspiration-top{
    width: 800px;
height: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}
.inspiration-video{
    width: 1000px;
    height: 600px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin: 48px 0px;

}
iframe{
    width: 1000px;
    height: 600px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 32px;;
}

/* My Current Target */
.my-current-target{
    width: 1140px;
    height: 500px;
    margin: 40px auto;
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.target-info{
    width: 852px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
text-align: center;
}
.card{
    width: 1140px;
height: 299px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.html-card{
    width: 364px;
height: 299px;
border-radius: 16px;
background: rgba(141, 131, 57, 0.456);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
}
.css-card{
    width: 364px;
height: 299px;
border-radius: 16px;
background: rgba(213, 12, 59, 0.05);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
}
.javascript-card{
    width: 364px;
height: 299px;
border-radius: 16px;
background: rgba(51, 22, 183, 0.131);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
}

/* I need support */
.support{
    width: 1140px;
height: 313px;
margin: 50px auto;
background-image: url(assets/handshake.jpg);
background-size: cover;
background-position: center;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}
.support-details{
    
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.support-h1{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
text-align: center;
}
.support-desc{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
input{
    width: 548px;
height: 57px;
padding: 19px 20px 19px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.submit{
    width: 120px;
height: 57px;
    border-radius: 8px;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
cursor: pointer;
}

/* footer section */
#footer{
    width: 1440px;
height: 100px;
border-radius: 16px;
background: rgb(228, 219, 219);
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footer-name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin: 0px 16px;
}
.footer-icon{
margin: 0px 24px;
}
.footer-icon>a{
    margin: 0px 10px;
}

